<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <b>Amigos</b>
  <ion-list *ngFor='let user of friends; index as i'>
    <div *ngIf='user.friend'>
        <a routerLink="/conversation/{{user.uid}}">{{i}} - {{user.nick}} - {{user.email}}</a>
    </div>
  </ion-list>

  <b>No Amigos</b>
  <ion-list *ngFor='let user of friends; index as i'>
      <p *ngIf='!user.friend'>{{i}} - {{user.nick}} - {{user.email}}</p>
  </ion-list>
  
</ion-content>
